body {
  overflow-y: auto !important;
}

.form-error {
  color:red;
  font-size: smaller;
}

.form-input-container md-input-container {
  padding: 2px 2px 10px;
}

.form-input-container > div {
  height: 80px;
  padding: 2px;
}

.form-input-container md-select {
  margin: 0 !important;
  padding: 0 !important;
}

.form-input-container md-select > .md-select-label {
  width: 100%;
}

.form-input-container md-select-label.ng-binding {
  color: rgba(0,0,0,.87);
  cursor: default;
  pointer-events: none;
  transform: translate3d(0,6px,0) scale(.75);
  transform-origin: top left;
}

md-option.form-styled[selected] {
  background-color: lightblue; 
}

.form-input-container .textarea {
  height: auto;
}

.form-input-container .section {
  height: auto;
  margin-top: 1em;
}

.form-input-container .section .section-title {
}

.form-input-container .section .section-divider {
  margin-top: 0.5em !important;
  margin-bottom: 0.3em !important;
}
