<div class="form-input-container">
    <!-- TEXT FIELD -->
    <div ng-if="field.type=='text'">
        <md-input-container>
            <label>{{field.label}}</label>
            <input
                    type="text"
                    dynamic-directives="field.validators"
                    ng-minlength="{{field.minLength}}"
                    ng-required="field.required"
                    name="{{field.name}}"
                    ng-model="modelName[field.name]">
        </md-input-container>

        <span class="form-error"
              ng-show="{{form.name}}.{{field.name}}.$touched && {{form.name}}.{{field.name}}.$invalid">

            <span ng-show="{{form.name}}.{{field.name}}.$error.required">Field is required.</span>
            <span ng-show="{{form.name}}.{{field.name}}.$error.minlength">Field too short. Must be minimum {{field.minLength}} characters.</span>

            <div ng-repeat="validator in field.validators">
                <span data-ng-show="{{form.name}}.{{field.name}}.$error.{{validator.error}}">
                    {{validator.message}}
                </span>
            </div>
        </span>
    </div>


    <!-- NUMBER FIELD -->
    <div ng-if="field.type=='number'">
        <md-input-container>
            <label>{{field.label}}</label>
            <input
                    type="number"
                    dynamic-directives="field.validators"
                    ng-minlength="{{field.minLength}}"
                    ng-required="field.required"
                    ng-disabled="field.disabled"
                    name="{{field.name}}"
                    ng-model="modelName[field.name]">
        </md-input-container>

        <span class="form-error"
              ng-show="{{form.name}}.{{field.name}}.$touched && {{form.name}}.{{field.name}}.$invalid">

            <span ng-show="{{form.name}}.{{field.name}}.$error.required">Field is required.</span>
            <span ng-show="{{form.name}}.{{field.name}}.$error.number">Invalid field type, should be a number.</span>
            <span ng-show="{{form.name}}.{{field.name}}.$error.minlength">Number too short. Must be minimum {{field.minLength}} characters.</span>

            <div ng-repeat="validator in field.validators">
                <span data-ng-show="{{form.name}}.{{field.name}}.$error.{{validator.error}}">
                    {{validator.message}}
                </span>
            </div>
        </span>
    </div>


    <!-- EMAIL FIELD -->
    <div ng-if="field.type=='email'">
        <md-input-container >
            <label>{{field.label}}</label>
            <input
                    type="email"
                    dynamic-directives="field.validators"
                    ng-required="field.required"
                    ng-disabled="field.disabled"
                    name="{{field.name}}"
                    ng-model="modelName[field.name]">
        </md-input-container>

        <span class="form-error"
              ng-show="{{form.name}}.{{field.name}}.$touched && {{form.name}}.{{field.name}}.$invalid">

            <span ng-show="{{form.name}}.{{field.name}}.$error.required">Email is required.</span>
            <span ng-show="{{form.name}}.{{field.name}}.$error.email">Invalid email address.</span>

            <div ng-repeat="validator in field.validators">
                <span data-ng-show="{{form.name}}.{{field.name}}.$error.{{validator.error}}">
                    {{validator.message}}
                </span>
            </div>
        </span>
    </div>


    <!-- PASSWORD FIELD -->
    <div ng-if="field.type=='password'">
        <md-input-container>
            <label>{{field.label}}</label>
            <input
                    type="password"
                    dynamic-directives="field.validators"
                    ng-minlength="{{field.minLength}}"
                    ng-required="field.required"
                    ng-disabled="field.disabled"
                    name="{{field.name}}"
                    ng-model="modelName[field.name]">
        </md-input-container>

        <span class="form-error"
              ng-show="{{form.name}}.{{field.name}}.$touched && {{form.name}}.{{field.name}}.$invalid">

            <span ng-show="{{form.name}}.{{field.name}}.$error.required">Password is required.</span>
            <span ng-show="{{form.name}}.{{field.name}}.$error.minlength">Password too short. Must be minimum {{field.minLength}} characters.</span>

            <div ng-repeat="validator in field.validators">
                <span data-ng-show="{{form.name}}.{{field.name}}.$error.{{validator.error}}">
                    {{validator.message}}
                </span>
            </div>
        </span>
    </div>


    <!-- SELECT FIELD -->
    <div ng-if="field.type=='select'">
        <md-input-container>
            <md-select
                    placeholder="Select {{field.label}}"
                    dynamic-directives="field.validators"
                    ng-required="field.required"
                    ng-model="modelName[field.name]">
                <md-option ng-repeat="option in field.options track by option.id" ng-value="option.id">{{option.name}}</md-option>
            </md-select>
        </md-input-container>
    </div>


    <!-- RADIO FIELD -->
    <div ng-if="field.type=='radio'">
        <md-input-container>
            <md-radio-group
                    dynamic-directives="field.validators"
                    ng-required="field.required"
                    ng-disabled="field.disabled"
                    name="{{field.name}}"
                    ng-model="modelName[field.name]">
                <md-radio-button ng-repeat="option in field.options"
                                 ng-value="option.id">
                    {{option.name}}
                </md-radio-button>
            </md-radio-group>
        </md-input-container>

        <span class="form-error"
              ng-show="{{form.name}}.{{field.name}}.$touched && {{form.name}}.{{field.name}}.$invalid">

            <span ng-show="{{form.name}}.{{field.name}}.$error.required">Must select an option.</span>

            <div ng-repeat="validator in field.validators">
                <span data-ng-show="{{form.name}}.{{field.name}}.$error.{{validator.error}}">
                    {{validator.message}}
                </span>
            </div>
        </span>
    </div>


    <!-- CHECKBOX -->
    <div ng-if="field.type=='checkbox'">
        <md-checkbox
                class="md-primary"
                dynamic-directives="field.validators"
                ng-disabled="field.disabled"
                name="{{field.name}}"
                ng-model="modelName[field.name]">
            {{field.label}}
        </md-checkbox>
    </div>


    <!-- SUBMIT BUTTON -->
    <div ng-if="field.type=='submit'">
        <md-button
                class="md-raised md-primary"
                ng-disabled="{{form.name}}.$invalid || {{form.name}}.$pristine"
                name="{{field.name}}">
            {{field.label}}
        </md-button>
    </div>
</div>
